{% extends 'base.html' %}
{% block title %} Change Password {% endblock %}
{% block content %}

<h1>Change Password...</h1><br><br>
<div class="form-control">
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-secondary">Reset Password</button>
    </form><br>
    <ul>
        <li>Password must contain 8 characters.</li>
        <li>password can't be commonly used.</li>
        <li>Password cant't be entirely numeric.</li>
    </ul>
</div>
{% endblock %}