{% extends 'base.html' %}
{% block title %} Register {% endblock %}
{% block content %}

<div class="row p-5">
    <form action="" method="post">
        {% csrf_token %}
        <div class="p-5 mt-5">
            <div class="form-group pt-1 mt-1 d-flex justify-content-center">
                <input type="text" style="width: 200px;" class="form-control text-center" name="username" placeholder="Enter Username">
            </div>
            <div class="form-group mt-1 d-flex justify-content-center">
                <input type="text" style="width: 200px;" class="form-control text-center" name="email" placeholder="Enter Your Email">
            </div>
            <div class="form-group mt-1 d-flex justify-content-center">
                <input type="text" style="width: 200px;" class="form-control text-center" name="first_name" placeholder="First Name">
            </div>
            <div class="form-group mt-1 d-flex justify-content-center">
                <input type="text" style="width: 200px;" class="form-control text-center" name="last_name" placeholder="Last Name">
            </div>
            <div class="form-group mt-1 d-flex justify-content-center">
                <input type="password" style="width: 200px;" class="form-control text-center"  name="password1" placeholder="Enter Password">
            </div>
            <div class="form-group mt-1 d-flex justify-content-center">
                <input type="password" style="width: 200px;" class="form-control text-center" name="password2" placeholder="Renter Your Password">
            </div>
            <div class="d-flex justify-content-center">
                <button class="btn btn-secondary mt-1" style="width: 200px;color: white;background-color: #849be9;">Sign Up</button>
            </div>
        </div>
    </form>
</div>

{% endblock %}